*{
 margin: 0px;
 box-sizing: border-box;
 font-family: monospace;
 width: 100%
}

.navigation {
    position: fixed;
    color: #ededed;
    padding: 2.5rem 3rem;
    background-color:#A1CDA8 ;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    }

.navigation ul {
    list-style: none;
    display: flex;
    font-size:  20px;
    justify-content: space-between;
            }

nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius:10px;
}

nav a:hover {
    background: #627264;
    color:black;
}

        
    



