*{
 margin: 0px;
 box-sizing: border-box;
 font-family: monospace;
}

.navigation {
    position: fixed;
    color: #ededed;
    padding: 24px 32px;
    background-color:#a1cda8d6 ;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    width:100%;
}

.navigation nav{
  margin-left: auto;
}

.navigation ul {
    list-style: none;
    display: flex;
    font-size:  20px;
    justify-content: space-between;
   
            }

nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius:10px;
}

nav a:hover {
    background: #627264;
    color:black;
}

main{
    padding-top:120px;
}

.feature{
        background-size:cover;
        background-position: center;
    height: 45vh;
    position:relative;
   

}

.mental{
    background-image:url(https://images.unsplash.com/photo-1475137979732-b349acb6b7e3?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

}
    
.ctabox{
    position:absolute;
    bottom: 24px;
    left:24px;
   background-color: #c5e7e2a0;
   padding: 16.2px;
   border-radius: 16px;
   max-width: 420px;
   }

   .ctabox p {
    line-height:1;
   }

   .ctabox h2 {
    line-height: 2;
    font-size: 37px
   }

.ctabox button {
  background-color: #627264;
  color: white;
  border: none;
  padding: 8.6px 17.2px;
  border-radius: 999px; 
  font-size: 10.9px;
  cursor: pointer;
  
}

 button:hover {
   background: #A1CDA8;
   color: black;

}

.medication {
    background-image: url("https://images.unsplash.com/photo-1675851143055-23ae996bb212?q=80&w=1013&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    
}

.med { 
     position:absolute;
   background-color: #5ed6ee49;
   

}

.therapies { 
    background-image: url("https://images.unsplash.com/photo-1604881991108-a3a35673b7c4?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   
    
}

.therapy {
     position:absolute;
   background-color: #79787d49;
   
}

.useful{
    background-image: url("https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   }

.use {
 position:absolute;
 background-color: #e3926f49;
   
}

footer{ 
    color: #ededed;
    padding: 24px 32px;
    background-color:#A1CDA8 ;
    z-index: 1;
    width:100%;
    text-align: center;

}