*{
 margin: 0px;
 box-sizing: border-box;
 font-family: monospace;
}

.navigation {
    position: fixed;
    color: #ededed;
    padding: 2.5rem 3rem;
    background-color:#A1CDA8 ;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    width:100%
    }

.navigation ul {
    list-style: none;
    display: flex;
    font-size:  20px;
    justify-content: space-between;
            }

nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius:10px;
}

nav a:hover {
    background: #627264;
    color:black;
}

main{
    padding-top:120px;
}

.feature{
        background-size:cover;
    height: 50vh;
    position:relative;

}

.mental{
    background-image:url(https://images.unsplash.com/photo-1475137979732-b349acb6b7e3?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

}
    
.ctabox{
    position:absolute;
    bottom: 69px;
    right:12px;
   background-color: #c5e7e2a0;
   padding: 16.2px;
   border-radius: 16px;
   }

   .ctabox p {
    line-height:1;
   }

   .ctabox h2 {
    line-height: 2;
    font-size: 37px
   }

.ctabox button {
  background-color: #627264;
  color: white;
  border: none;
  padding: 8.6px 17.2px;
  border-radius: 999px; 
  font-size: 10.9px;
  cursor: pointer;
}

.medication {
    background-image: url("https://images.unsplash.com/photo-1675851143055-23ae996bb212?q=80&w=1013&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.med { 
     position:absolute;
    bottom: 180px;
    left:12px;
   background-color: #5ed6ee49;
   padding: 16.2px;
   border-radius: 16px;
   max-width: 420px;

}

.therapies { 
    background-image: url("https://images.unsplash.com/photo-1604881991108-a3a35673b7c4?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    
}

.therapy {
     position:absolute;
    bottom: 37px;
    right:17px;
   background-color: #79787d49;
   padding: 16.2px;
   border-radius: 16px;
   max-width: 420px;
}